<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MyDataBase_DatabaseFirstEntities" connectionString="metadata=res://*/EntityFramework.DatabaseFirst.Model1.csdl|res://*/EntityFramework.DatabaseFirst.Model1.ssdl|res://*/EntityFramework.DatabaseFirst.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUKHOMLYN;initial catalog=MyDataBase_DatabaseFirst;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyDataBase_ModelFirstEntities" connectionString="metadata=res://*/EntityFramework.ModelFirst.Model1.csdl|res://*/EntityFramework.ModelFirst.Model1.ssdl|res://*/EntityFramework.ModelFirst.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUKHOMLYN;initial catalog=MyDataBase_ModelFirst;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyDataBase_CodeFirstEntities" connectionString="data source=SUKHOMLYN;initial catalog=LessonEntity.EntityFramework.CodeFirst.MyDataBase_CodeFirstEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>